body {
    background-color: #0c6580b9;
}

.hotel-item {
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    color: white;
    overflow: hidden;
    height: 200px;
    position: relative;
}

.hotel-item .card {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
}

.hotel-item .card-body {
    position: relative;
    z-index: 1;
    width: 100%;
    text-align: center;
}

.btn-primary, .btn-success {
    background-color: black; /* Cor de fundo preta */
    color: white;            /* Cor do texto branca */
    border: none;            /* Sem borda */
    padding: 10px 20px;      /* Espaçamento interno */
    cursor: pointer;         /* Cursor de ponteiro ao passar o mouse */
    transition: background-color 0.3s ease; /* Transição suave para a mudança de cor */
}

/* Estilo ao passar o mouse */
.btn-primary:hover, .btn-success:hover {
    background-color: grey;  /* Cor de fundo cinza */
}
    