body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(218, 126, 93);
}

.form-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form.hidden {
    display: none;
}

input {
    margin: 10px 0;
    padding: 10px;
    width: 90%;
}

button {
    padding: 10px;
    background-color: #5cb85c;
    border: none;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

p {
    text-align: center;
}

span {
    color: blue;
    cursor: pointer;
}

.back-arrow {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    text-decoration: none;
    color: black;
}
